# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# virtual env
.venv/

# pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# build
build/
dist/

# binaries / data
*.bp
*_out.bin


